.recipe-card {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.recipe-badge {
    padding: 10px;
    color: greenyellow
}

.recipe-title {
    font-weight: 600;
}

.recipe-description {
    font-size: 1.1rem;
}